/* App.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #444;
}

/* Estilos del formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #d1d1d1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #7e7e7e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #474747;
}

/* Estilos de la lista de alumnos */
.students-list {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.students-list ul {
  list-style-type: none;
  padding: 0;
}

.students-list li {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}

.students-list li:last-child {
  border-bottom: none;
}

.students-list p {
  margin: 5px 0;
}

.user-info {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #ffffff;
}